.pseudoButton {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
  padding-left: 24px;
  padding-right: 24px;
  width: 112px;
  height: 95px;
  transition: border-color 0.2s ease-in-out;
}

.realInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.icon {
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
}

.fill {
  fill: var(--main);
}

.stroke {
  stroke: var(--main);
  fill: transparent;
}

.pseudoButton.checked {
  border-color: var(--button);
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-family: "Inter-Regular", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--main);
}
