body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--section-bgr);
  color: var(--primary);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
