.logoContainer {
  display: flex;
  align-items: center;
  gap: 2px;
}

.logoText {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--main);
}

.logoIcon {
  width: 28px;
  height: 28px;
}
