.container {
  width: 100%;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  padding: 24px;

  height: 358px;
  display: flex;
  gap: 24px;
}

.infoWrapper {
  width: calc(100% - 92px);

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.firstLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--default);
}

.name {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: var(--primary);
}

.languages {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--primary);
  text-decoration: underline;
}

.textContainer {
  display: flex;
  gap: 4px;
}

.description {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--primary);
}

.levelList {
  width: 526px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
}
