.container {
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 358px;
  display: flex;
  gap: 24px;
}

.infoWrapper {
  width: 526px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.wrapperSecondLine {
  display: flex;
  column-gap: 16px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}

.categoriesList {
  width: 526px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
}
