.container {
  margin-top: 96px;
  display: flex;
  column-gap: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

.btnAuxStyles {
  width: 200px;
}
