.container {
  width: 902px;
}

.mainContent {
  width: 902px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 44px;
}

.name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: var(--main);
  margin-bottom: 8px;
}

.wrapperRating {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: var(--main);
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
}

.menu {
  display: flex;
  column-gap: 40px;
  width: 206px;
}

.locationWrapper {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.menuItem {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  position: relative;
  padding-bottom: 24px;
  transition: color 0.3s ease-in-out;
}

.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--button);
}

.menuItem:hover {
  color: var(--button-hover);
}

.line {
  margin-top: 0;
  margin-bottom: 44px;
  padding: 0;
  color: #d9d9d9;
  width: 100%;
  border: none;
  border-top: 1px solid #d9d9d9;
}

.formContainer {
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
  padding: 24px;
  width: 448px;
  height: 532px;
}

.wrapperTabsAndForm {
  display: flex;
  column-gap: 24px;
}

.formCaption {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 8px;
}

.formtxt {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
  margin-bottom: 24px;
}
