.container {
  width: 120px;
  height: 120px;
  padding: 12px;
  display: flex;
  border-radius: 50%;
  border: 3px solid var(--default-accent);
  background-color: transparent;
  overflow: hidden;
}

.img {
  border-radius: 50%;
}

.container.yellow {
  border-color: var(--yellow-accent);
}
.container.green {
  border-color: var(--green-accent);
}
.container.blue {
  border-color: var(--blue-accent);
}
.container.pink {
  border-color: var(--pink-accent);
}
.container.red {
  border-color: var(--red-accent);
}
