.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featuresContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.feature {
  display: flex;
  gap: 8px;
}

.iconContainer {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconStar {
  fill: var(--star);
}

.featureTitle,
.featureValue {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(-primary);
}

.price {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--price);
}
