.header {
  position: relative;
  display: inline-block;
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);
}

.btn {
  display: flex;
  justify-content: center;
  background-color: var(--default);
  border: none;
  cursor: pointer;
  position: relative;
  padding: 0;
  border-radius: 12px;
  padding: 14px;
  height: 48px;
}

.btn.yellow {
  background-color: var(--yellow);
}

.btn.green {
  background-color: var(--green);
}

.btn.blue {
  background-color: var(--blue);
}

.btn.pink {
  background-color: var(--pink);
}

.btn.red {
  background-color: var(--red);
}

.btn.open .icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 12px;
  background-color: var(--gray-bgr);
}

.dropdown.yellow {
  border: 2px solid var(--yellow);
  box-shadow: 0 2px 10px rgba(236, 237, 253, 0.1);
}
.dropdown.green {
  border: 2px solid var(--green);
  box-shadow: 0 2px 10px rgba(236, 237, 253, 0.1);
}
.dropdown.blue {
  border: 2px solid var(--blue);
  box-shadow: 0 2px 10px rgba(236, 237, 253, 0.1);
}
.dropdown.pink {
  border: 2px solid var(--pink);
  box-shadow: 0 2px 10px rgba(236, 237, 253, 0.1);
}
.dropdown.red {
  border: 2px solid var(--red);
  box-shadow: 0 2px 10px rgba(236, 237, 253, 0.1);
}

.label {
  margin-bottom: 4px;
  padding: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.label.selected {
  color: var(--yellow);
}

.label.yellow.selected {
  color: var(--yellow);
}

.label.green.selected {
  color: var(--green);
}

.label.blue.selected {
  color: var(--blue);
}

.label.pink.selected {
  color: var(--pink);
}

.label.red.selected {
  color: var(--red);
}

.label {
  color: var(--primary);
}

.label.inactive {
  color: var(--primary);
}

.label input {
  display: none;
}

.iconContainer {
  display: grid;
  place-items: center;
  width: 20px;
  height: 20px;
}

.icon {
  width: 20px;
  height: 20px;
  stroke: var(--white);
  transition: transform 0.3s ease;
}
